#!/usr/bin/make -f
# -*- makefile -*-

export DH_ALWAYS_EXCLUDE=CVS:.svn:.git

override_dh_installinit:
	dh_installinit --name=ros

override_dh_installlogrotate:
	dh_installlogrotate --name=ros

%:
	dh $@
